/* 全局样式表 */
html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* element样式 */
.el-container {
	overflow: auto;
}

/* 弹出对话框的默认宽度 */
.el-dialog {
	width: 40%;
}

.el-dialog-body {
	padding: 15px 20px;
} 

/* 进度条渐变色 */
.el-progress-bar__inner {
		opacity:0.6;
}

/* 取消滚动条样式 */
::-webkit-scrollbar {
	width: 0;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

/*清除元素默认的内外边距  */
* {
	margin: 0;
	padding: 0
}

/*让所有斜体 不倾斜*/
/* em,
i {
	font-style: normal;
} */

/*去掉列表前面的小点*/
/* li {
	list-style: none;
} */

/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
	border: 0;
	/*ie6*/
	vertical-align: middle;
}

/*让button 按钮 变成小手*/
button {
	cursor: pointer;
}